export(freq)
export(descr)
export(ctable)
export(dfSummary)
export(cleartmp)
export(view)
export(what.is)
export(.parse_arg)
export(.st.env)
S3method(print, summarytools)
importFrom(htmltools, tags, HTML, includeCSS, div, h1, h2, h3, h4, br, p)
importFrom(stats, IQR, mad, median, sd, xtabs, addmargins)
importFrom(utils, capture.output, methods, object.size, packageVersion, head, tail)
importFrom(matrixStats, weightedMean, weightedSd, weightedMedian, weightedMad)
importFrom(Hmisc, label)
importFrom(methods, is)
