export(freq)
export(descr)
export(dfSummary)
export(.parse.arg)
export(print.summarytools)
export(view)
importFrom(htmltools,tags)
importFrom(htmltools,HTML)
importFrom(htmltools,includeCSS)
importFrom(htmltools,div)
importFrom(htmltools,h1)
importFrom(htmltools,h2)
importFrom(htmltools,h3)
importFrom(htmltools,h4)
importFrom(htmltools,br)
importFrom(htmltools,p)
