/* Add here any custom settings. Since this is called after bootstrap.min.css, this file has priority */
body {
  margin: 20px;
}

th {
  text-align: center;
}

td {
  white-space:pre; /* Allows multiline cells */
  min-width: 120px;
}

.table-narrow {
  font-family: monospace;
}

.table-narrow > thead > tr > th,
.table-narrow > tbody > tr > td {
  min-width: 30px;
}

/*
.table {
  width: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
*/

.table {
    width: 80%;
    max-width: 1100px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.monospace-cells {
  font-family: monospace;
  font-size: 13px;
  text-align: right;
}


.cellLeft {
  display: block;
  text-align: right;
  overflow: auto;
}

.cellRight {
  width: 50%;
  float: right;
  text-align: left;
}

.numSpan {
    display: inline-block;
    width: calc(50% + 0.8em);
    text-align: right;
}

.strong {
  font-weight: bold;
}
