* {
  box-sizing: content-box;
}

body {
  margin: 20px;
  /*overflow: hidden;*/
}

.table {
    width: auto;
    table-layout: auto;
    max-width: 1100px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
  min-width: 135px;
}

.table > thead > tr > th {
  vertical-align: middle;
  min-width: 135px;
}

.table-bordered {
  border: 1px solid #bbbbbb;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #cccccc;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table thead > tr > th {
  border-bottom: none;
}

th {
  text-align: center;
}

.table > thead > tr {
   background-color: #eeeeee;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fafafa;
}

.multiline {
  white-space:pre;
}

.cellLeft {
  display: block;
  text-align: right;
  overflow: auto;
}

.cellRight {
  width: 50%;
  float: right;
  text-align: left;
}

.numSpan {
  display: inline-block;
  width: calc(50% + 0.8em);
  text-align: right;
}

.narrowCol {
  min-width: 25px !important;
}

/*
.monospace-cells {
  font-family: monospace;
  font-size: 13px;
  text-align: right;
}



.table {
  width: auto;
  max-width: 100%;
  margin-bottom: 20px;
}


.table-narrow > thead > tr > th,
.table-narrow > tbody > tr > td {
  min-width: 50px;
}
*/
