body {
  margin: 15px;
}

table > thead > tr {
   background-color: #eeeeee;
}

table th {
  text-align: center;
}

td span {
  display: block;
}

.multiline {
  white-space: pre;
}

.hidden {
  visibility: hidden;
}

.table {
  width: auto;
  table-layout: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table-bordered {
  border: 1px solid #bbbbbb;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #cccccc;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table thead > tr > th {
  border-bottom: none;
}

.table td,
.table th {
  padding: 8px;
}

.table > thead > tr {
   background-color: #eeeeee;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td {
  border: 1px solid #cccccc;
}


.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}


.desc-table > thead > tr > th,
.desc-table > tbody > tr > th,
.desc-table > tfoot > tr > th,
.desc-table > thead > tr > td,
.desc-table > tbody > tr > td,
.desc-table > tfoot > tr > td {
  padding-left:  24px;
  padding-right: 24px;
  word-wrap: break-word;
}

.desc-table td {
  text-align: right;
}

.freq-table,
.freq-table-nomiss,
.cross-table {
  border: medium none;
}

.freq-table  > thead > tr:nth-child(1) > th:nth-child(1),
.cross-table > thead > tr:nth-child(1) > th:nth-child(1),
.cross-table > thead > tr:nth-child(1) > th:nth-child(3) {
  border:none;
  background-color: #ffffff;
}

.freq-table > thead > tr > th,
.freq-table > tbody > tr > th,
.freq-table > tfoot > tr > th,
.freq-table > thead > tr > td,
.freq-table > tbody > tr > td,
.freq-table > tfoot > tr > td,
.freq-table-nomiss > thead > tr > th,
.freq-table-nomiss > tbody > tr > th,
.freq-table-nomiss > tfoot > tr > th,
.freq-table-nomiss > thead > tr > td,
.freq-table-nomiss > tbody > tr > td,
.freq-table-nomiss > tfoot > tr > td {
  padding-left:  24px;
  padding-right: 24px;
}

.cross-table > thead > tr > th,
.cross-table > tbody > tr > th,
.cross-table > tfoot > tr > th,
.cross-table > thead > tr > td,
.cross-table > tbody > tr > td,
.cross-table > tfoot > tr > td {
  padding-left:  24px;
  padding-right: 24px;
}

.cross-table td {
  text-align: center;
}
