img {
  background-color: transparent;
  border: 0;
}

.st-table td,
.st-table th {
  padding: 8px;
}

.st-table > thead > tr {
   background-color: #eeeeee;
}

.st-cross-table td {
  text-align: center;
}

.st-descr-table td {
  text-align: right;
}

table.st-table th {
  text-align: center;
}

table.st-table > thead > tr {
   background-color: #eeeeee;
}

table.st-table td span {
  display: block;
}

table.st-table > tfoot > tr > td {
  border:none;
}

.st-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.st-multiline {
  white-space: pre;
}

.st-table {
    width: auto;
    table-layout: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}

.st-table > thead > tr > th,
.st-table > tbody > tr > th,
.st-table > tfoot > tr > th,
.st-table > thead > tr > td,
.st-table > tbody > tr > td,
.st-table > tfoot > tr > td {
  vertical-align: middle;
}

.st-table-bordered {
  border: 1px solid #bbbbbb;
}

.st-table-bordered > thead > tr > th,
.st-table-bordered > tbody > tr > th,
.st-table-bordered > thead > tr > td,
.st-table-bordered > tbody > tr > td {
  border: 1px solid #cccccc;
}

.st-table-bordered > thead > tr > th,
.st-table-bordered > thead > tr > td,
.st-table thead > tr > th {
  border-bottom: none;
}

.st-freq-table > thead > tr > th,
.st-freq-table > tbody > tr > th,
.st-freq-table > tfoot > tr > th,
.st-freq-table > thead > tr > td,
.st-freq-table > tbody > tr > td,
.st-freq-table > tfoot > tr > td,
.st-freq-table-nomiss > thead > tr > th,
.st-freq-table-nomiss > tbody > tr > th,
.st-freq-table-nomiss > tfoot > tr > th,
.st-freq-table-nomiss > thead > tr > td,
.st-freq-table-nomiss > tbody > tr > td,
.st-freq-table-nomiss > tfoot > tr > td,
.st-cross-table > thead > tr > th,
.st-cross-table > tbody > tr > th,
.st-cross-table > tfoot > tr > th,
.st-cross-table > thead > tr > td,
.st-cross-table > tbody > tr > td,
.st-cross-table > tfoot > tr > td {
  padding-left: 20px;
  padding-right: 20px;
}

.st-table-bordered > thead > tr > th,
.st-table-bordered > tbody > tr > th,
.st-table-bordered > thead > tr > td,
.st-table-bordered > tbody > tr > td {
  border: 1px solid #cccccc;
}

.st-table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.st-table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.st-descr-table > thead > tr > th,
.st-descr-table > tbody > tr > th,
.st-descr-table > thead > tr > td,
.st-descr-table > tbody > tr > td {
  padding-left: 24px;
  padding-right: 24px;
  word-wrap: break-word;
}

.st-freq-table,
.st-freq-table-nomiss,
.st-cross-table {
  border: medium none;
}

.st-freq-table > thead > tr:nth-child(1) > th:nth-child(1),
.st-cross-table > thead > tr:nth-child(1) > th:nth-child(1),
.st-cross-table > thead > tr:nth-child(1) > th:nth-child(3) {
  border: none;
  background-color: #ffffff;
  text-align: center;
}

.st-protect-top-border {
  border-top: 1px solid #cccccc !important;
}

.st-ws-char {
  display: inline;
  color: #999999;
  letter-spacing: 0.2em;
}

/* Optional classes */
.st-small {
  font-size: 13px;
}

.st-small td,
.st-small th {
  padding: 8px;
}

.st-small > thead > tr > th,
.st-small > tbody > tr > th,
.st-small > thead > tr > td,
.st-small > tbody > tr > td {
  padding-left: 12px;
  padding-right: 12px;
}
